{%extends "base.html"%}
{%block body %}
<style>
    .a {
        margin-top: 10px;
        width: 240px;
        height: 25px;
        border-radius: 5px;
        border-width: thin;
    }
</style>

<div style=" border-style:solid;border-width: thin;  width: 300px;float: left; background-color: white;margin-left: 260px;margin-top: 65px;">
    <center>
        <p
            style="  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 22px;">
            Contact Us</p>

        <form method="POST" action="message"> 
            {%csrf_token%}
            <input type="text" placeholder="Name:" id="buyer" name="name" class="a">
            <input type="number" placeholder="Contact: " id="buyer" name="mobile" class="a">
            <input type="email" placeholder="Email Address" id="buyer" name="email" class="a">
            <input type="text" placeholder="Subject" id="buyer" name="subject" class="a">
            <input type="text" placeholder="Description of Issue" id="value" name="value" class="a">
            <a href=""><button type="submit"
                    style=" margin-left: 10px; margin-top:20px ; border-style: none; color: white;background-color:rgb(30 ,144 ,255);height:45px;width:240px;border-radius:5px; margin-bottom: 10px;font-size: 16px;">Submit</button></a><br>

        </form>

    </center>

</div>
<a href="products">
    <img src="/static/contactt.gif " style="width: 300px;float: left;height:490px;margin-top: 10px;margin-left: 15px;">
</a>






{%endblock body%}