{%extends "base.html"%}

{%block body%}

<center>
<img src="/static/Noflipkart.jpg" style="margin-top: 50px; height: 140px;">
<P style="font-family: monospace;font-size:18px;">Sorry... This item in currently not available on Flipkart😟</P>
<a>
<button onclick="history.back()"
        style=" margin-left: 10px; margin-top:10px ;border-style: none; color: white;background-color:orangered;height:45px;width:240px;border-radius:2px; margin-bottom: 10px;">Back To Previous Page</button></a>
</center>



{%endblock body%}